.container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .containerInfo {
    max-width: 56.25rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
  }
  
  .containerInfo > h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.0256rem;
    color: var(--color-secundary-white);
    text-wrap: nowrap;
  }
  
  .containerInfo > p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    color: var(--color-secundary-white);
  }
  